# Backend
fastapi
requests

# Server
uvicorn

# Database
sqlmodel

# Langchain libraries for LLM integration and experimentation
langchain # LLM
langchain-ollama # LLM
langchain-community # Runnable
langchain-experimental # Runnable